{#
/**
 * @file md-icon.html.twig
 * Default theme implementation to present an icon.
 *
 * @see template_preprocess_md_icon()
 *
 * @ingroup themeable
 */
#}
<h1 class="text-responsive size-l nmb page-title"></h1>