@font-face {
  font-family: 'megatron';
  src: url('../font/megatron.eot?45872593');
  src: url('../font/megatron.eot?45872593#iefix') format('embedded-opentype'),
       url('../font/megatron.woff2?45872593') format('woff2'),
       url('../font/megatron.woff?45872593') format('woff'),
       url('../font/megatron.ttf?45872593') format('truetype'),
       url('../font/megatron.svg?45872593#megatron') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'megatron';
    src: url('../font/megatron.svg?45872593#megatron') format('svg');
  }
}
*/
 
 [class^="megatron-"]:before, [class*=" megatron-"]:before {
  font-family: "megatron";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.megatron-adjustments:before { content: '\e800'; } /* '' */
.megatron-alarmclock:before { content: '\e801'; } /* '' */
.megatron-anchor:before { content: '\e802'; } /* '' */
.megatron-aperture:before { content: '\e803'; } /* '' */
.megatron-attachments:before { content: '\e804'; } /* '' */
.megatron-bargraph:before { content: '\e805'; } /* '' */
.megatron-basket:before { content: '\e806'; } /* '' */
.megatron-beaker:before { content: '\e807'; } /* '' */
.megatron-bike:before { content: '\e808'; } /* '' */
.megatron-book-open:before { content: '\e809'; } /* '' */
.megatron-briefcase:before { content: '\e80a'; } /* '' */
.megatron-browser:before { content: '\e80b'; } /* '' */
.megatron-calendar:before { content: '\e80c'; } /* '' */
.megatron-camera:before { content: '\e80d'; } /* '' */
.megatron-caution:before { content: '\e80e'; } /* '' */
.megatron-chat:before { content: '\e80f'; } /* '' */
.megatron-circle-compass:before { content: '\e810'; } /* '' */
.megatron-clipboard:before { content: '\e811'; } /* '' */
.megatron-clock:before { content: '\e812'; } /* '' */
.megatron-cloud:before { content: '\e813'; } /* '' */
.megatron-compass:before { content: '\e814'; } /* '' */
.megatron-desktop:before { content: '\e815'; } /* '' */
.megatron-dial:before { content: '\e816'; } /* '' */
.megatron-document:before { content: '\e817'; } /* '' */
.megatron-documents:before { content: '\e818'; } /* '' */
.megatron-download:before { content: '\e819'; } /* '' */
.megatron-dribbble:before { content: '\e81a'; } /* '' */
.megatron-edit:before { content: '\e81b'; } /* '' */
.megatron-envelope:before { content: '\e81c'; } /* '' */
.megatron-expand:before { content: '\e81d'; } /* '' */
.megatron-facebook:before { content: '\e81e'; } /* '' */
.megatron-flag:before { content: '\e81f'; } /* '' */
.megatron-focus:before { content: '\e820'; } /* '' */
.megatron-gears:before { content: '\e821'; } /* '' */
.megatron-genius:before { content: '\e822'; } /* '' */
.megatron-gift:before { content: '\e823'; } /* '' */
.megatron-global:before { content: '\e824'; } /* '' */
.megatron-globe:before { content: '\e825'; } /* '' */
.megatron-googleplus:before { content: '\e826'; } /* '' */
.megatron-grid:before { content: '\e827'; } /* '' */
.megatron-happy:before { content: '\e828'; } /* '' */
.megatron-hazardous:before { content: '\e829'; } /* '' */
.megatron-heart:before { content: '\e82a'; } /* '' */
.megatron-hotairballoon:before { content: '\e82b'; } /* '' */
.megatron-hourglass:before { content: '\e82c'; } /* '' */
.megatron-key:before { content: '\e82d'; } /* '' */
.megatron-laptop:before { content: '\e82e'; } /* '' */
.megatron-layers:before { content: '\e82f'; } /* '' */
.megatron-lifesaver:before { content: '\e830'; } /* '' */
.megatron-lightbulb:before { content: '\e831'; } /* '' */
.megatron-linegraph:before { content: '\e832'; } /* '' */
.megatron-linkedin:before { content: '\e833'; } /* '' */
.megatron-lock:before { content: '\e834'; } /* '' */
.megatron-magnifying-glass:before { content: '\e835'; } /* '' */
.megatron-map:before { content: '\e836'; } /* '' */
.megatron-map-pin:before { content: '\e837'; } /* '' */
.megatron-megaphone:before { content: '\e838'; } /* '' */
.megatron-mic:before { content: '\e839'; } /* '' */
.megatron-mobile:before { content: '\e83a'; } /* '' */
.megatron-newspaper:before { content: '\e83b'; } /* '' */
.megatron-notebook:before { content: '\e83c'; } /* '' */
.megatron-paintbrush:before { content: '\e83d'; } /* '' */
.megatron-paperclip:before { content: '\e83e'; } /* '' */
.megatron-pencil:before { content: '\e83f'; } /* '' */
.megatron-phone:before { content: '\e840'; } /* '' */
.megatron-picture:before { content: '\e841'; } /* '' */
.megatron-pictures:before { content: '\e842'; } /* '' */
.megatron-piechart:before { content: '\e843'; } /* '' */
.megatron-presentation:before { content: '\e844'; } /* '' */
.megatron-pricetags:before { content: '\e845'; } /* '' */
.megatron-printer:before { content: '\e846'; } /* '' */
.megatron-profile-female:before { content: '\e847'; } /* '' */
.megatron-profile-male:before { content: '\e848'; } /* '' */
.megatron-puzzle:before { content: '\e849'; } /* '' */
.megatron-quote:before { content: '\e84a'; } /* '' */
.megatron-recycle:before { content: '\e84b'; } /* '' */
.megatron-refresh:before { content: '\e84c'; } /* '' */
.megatron-ribbon:before { content: '\e84d'; } /* '' */
.megatron-rss:before { content: '\e84e'; } /* '' */
.megatron-sad:before { content: '\e84f'; } /* '' */
.megatron-scissors:before { content: '\e850'; } /* '' */
.megatron-scope:before { content: '\e851'; } /* '' */
.megatron-search:before { content: '\e852'; } /* '' */
.megatron-shield:before { content: '\e853'; } /* '' */
.megatron-speedometer:before { content: '\e854'; } /* '' */
.megatron-strategy:before { content: '\e855'; } /* '' */
.megatron-streetsign:before { content: '\e856'; } /* '' */
.megatron-tablet:before { content: '\e857'; } /* '' */
.megatron-telescope:before { content: '\e858'; } /* '' */
.megatron-toolbox:before { content: '\e859'; } /* '' */
.megatron-tools:before { content: '\e85a'; } /* '' */
.megatron-tools-2:before { content: '\e85b'; } /* '' */
.megatron-traget:before { content: '\e85c'; } /* '' */
.megatron-trophy:before { content: '\e85d'; } /* '' */
.megatron-tumblr:before { content: '\e85e'; } /* '' */
.megatron-twitter:before { content: '\e85f'; } /* '' */
.megatron-upload:before { content: '\e860'; } /* '' */
.megatron-video:before { content: '\e861'; } /* '' */
.megatron-wallet:before { content: '\e862'; } /* '' */
.megatron-wine:before { content: '\e863'; } /* '' */
.megatron-svg-icon-12:before { content: '\e864'; } /* '' */
.megatron-svg-icon-13:before { content: '\e865'; } /* '' */
.megatron-svg-icon-14:before { content: '\e866'; } /* '' */
.megatron-svg-icon-15:before { content: '\e867'; } /* '' */
.megatron-svg-icon-16:before { content: '\e868'; } /* '' */
.megatron-svg-icon-17:before { content: '\e869'; } /* '' */
.megatron-svg-icon-02:before { content: '\e86a'; } /* '' */
.megatron-svg-icon-03:before { content: '\e86b'; } /* '' */
.megatron-svg-icon-04:before { content: '\e86c'; } /* '' */
.megatron-svg-icon-05:before { content: '\e86d'; } /* '' */
.megatron-svg-icon-06:before { content: '\e86e'; } /* '' */
.megatron-svg-icon-07:before { content: '\e86f'; } /* '' */
.megatron-svg-icon-08:before { content: '\e870'; } /* '' */
.megatron-svg-icon-09:before { content: '\e871'; } /* '' */
.megatron-svg-icon-10:before { content: '\e872'; } /* '' */
.megatron-svg-icon-11:before { content: '\e873'; } /* '' */
.megatron-cart-icon:before { content: '\e874'; } /* '' */
.megatron-185020-macintosh:before { content: '\e875'; } /* '' */
.megatron-185021-bomb-bug:before { content: '\e876'; } /* '' */
.megatron-185022-computer-macintosh-vintage:before { content: '\e877'; } /* '' */
.megatron-185023-computer-imac:before { content: '\e878'; } /* '' */
.megatron-185024-computer-imac:before { content: '\e879'; } /* '' */
.megatron-185025-ibook-laptop:before { content: '\e87a'; } /* '' */
.megatron-185026-laptop-macbook-streamline:before { content: '\e87b'; } /* '' */
.megatron-185027-computer-network-streamline:before { content: '\e87c'; } /* '' */
.megatron-185028-iphone-streamline:before { content: '\e87d'; } /* '' */
.megatron-185029-ipod-streamline:before { content: '\e87e'; } /* '' */
.megatron-185030-cook-pan-pot-streamline:before { content: '\e87f'; } /* '' */
.megatron-185031-shoes-snickers-streamline:before { content: '\e880'; } /* '' */
.megatron-185032-ipad-streamline:before { content: '\e881'; } /* '' */
.megatron-185033-ipod-music-streamline:before { content: '\e882'; } /* '' */
.megatron-185034-ipod-mini-music-streamline:before { content: '\e883'; } /* '' */
.megatron-185035-computer-streamline:before { content: '\e884'; } /* '' */
.megatron-185036-remote-control-streamline:before { content: '\e885'; } /* '' */
.megatron-185037-browser-streamline-window:before { content: '\e886'; } /* '' */
.megatron-185038-home-house-streamline:before { content: '\e887'; } /* '' */
.megatron-185039-earth-globe-streamline:before { content: '\e888'; } /* '' */
.megatron-185040-map-pin-streamline:before { content: '\e889'; } /* '' */
.megatron-185041-arrow-streamline-target:before { content: '\e88a'; } /* '' */
.megatron-185042-edit-modify-streamline:before { content: '\e88b'; } /* '' */
.megatron-185043-ink-pen-streamline:before { content: '\e88c'; } /* '' */
.megatron-185044-pen-streamline:before { content: '\e88d'; } /* '' */
.megatron-185045-pen-streamline:before { content: '\e88e'; } /* '' */
.megatron-185046-design-graphic-tablet-streamline-tablet:before { content: '\e88f'; } /* '' */
.megatron-185047-pen-streamline:before { content: '\e890'; } /* '' */
.megatron-185048-pen-streamline:before { content: '\e891'; } /* '' */
.megatron-185049-design-pencil-rule-streamline:before { content: '\e892'; } /* '' */
.megatron-185050-eye-dropper-streamline:before { content: '\e893'; } /* '' */
.megatron-185051-crop-streamline:before { content: '\e894'; } /* '' */
.megatron-185052-paint-bucket-streamline:before { content: '\e895'; } /* '' */
.megatron-185053-brush-paint-streamline:before { content: '\e896'; } /* '' */
.megatron-185054-painting-roll-streamline:before { content: '\e897'; } /* '' */
.megatron-185055-painting-pallet-streamline:before { content: '\e898'; } /* '' */
.megatron-185056-stamp-streamline:before { content: '\e899'; } /* '' */
.megatron-185057-magic-magic-wand-streamline:before { content: '\e89a'; } /* '' */
.megatron-185058-grid-lines-streamline:before { content: '\e89b'; } /* '' */
.megatron-185059-handle-streamline-vector:before { content: '\e89c'; } /* '' */
.megatron-185060-magnet-streamline:before { content: '\e89d'; } /* '' */
.megatron-185061-photo-pictures-streamline:before { content: '\e89e'; } /* '' */
.megatron-185062-camera-photo-streamline:before { content: '\e89f'; } /* '' */
.megatron-185063-camera-photo-polaroid-streamline:before { content: '\e8a0'; } /* '' */
.megatron-185064-picture-streamline:before { content: '\e8a1'; } /* '' */
.megatron-185065-frame-picture-streamline:before { content: '\e8a2'; } /* '' */
.megatron-185066-picture-streamline:before { content: '\e8a3'; } /* '' */
.megatron-185067-camera-streamline-video:before { content: '\e8a4'; } /* '' */
.megatron-185068-music-note-streamline:before { content: '\e8a5'; } /* '' */
.megatron-185069-headset-sound-streamline:before { content: '\e8a6'; } /* '' */
.megatron-185070-micro-record-streamline:before { content: '\e8a7'; } /* '' */
.megatron-185071-music-speaker-streamline:before { content: '\e8a8'; } /* '' */
.megatron-185072-book-read-streamline:before { content: '\e8a9'; } /* '' */
.megatron-185073-book-dowload-streamline:before { content: '\e8aa'; } /* '' */
.megatron-185074-notebook-streamline:before { content: '\e8ab'; } /* '' */
.megatron-185075-envellope-mail-streamline:before { content: '\e8ac'; } /* '' */
.megatron-185076-streamline-suitcase-travel:before { content: '\e8ad'; } /* '' */
.megatron-185077-first-aid-medecine-shield-streamline:before { content: '\e8ae'; } /* '' */
.megatron-185078-email-mail-streamline:before { content: '\e8af'; } /* '' */
.megatron-185079-bubble-comment-streamline-talk:before { content: '\e8b0'; } /* '' */
.megatron-185080-bubble-love-streamline-talk:before { content: '\e8b1'; } /* '' */
.megatron-185081-speech-streamline-talk-user:before { content: '\e8b2'; } /* '' */
.megatron-185082-man-people-streamline-user:before { content: '\e8b3'; } /* '' */
.megatron-185083-like-love-streamline:before { content: '\e8b4'; } /* '' */
.megatron-185084-crown-king-streamline:before { content: '\e8b5'; } /* '' */
.megatron-185085-happy-smiley-streamline:before { content: '\e8b6'; } /* '' */
.megatron-185086-map-streamline-user:before { content: '\e8b7'; } /* '' */
.megatron-185087-link-streamline:before { content: '\e8b8'; } /* '' */
.megatron-185088-lock-locker-streamline:before { content: '\e8b9'; } /* '' */
.megatron-185089-locker-streamline-unlock:before { content: '\e8ba'; } /* '' */
.megatron-185090-delete-garbage-streamline:before { content: '\e8bb'; } /* '' */
.megatron-185091-danger-death-delete-destroy-skull-streamline:before { content: '\e8bc'; } /* '' */
.megatron-185092-clock-streamline-time:before { content: '\e8bd'; } /* '' */
.megatron-185093-dashboard-speed-streamline:before { content: '\e8be'; } /* '' */
.megatron-185094-settings-streamline:before { content: '\e8bf'; } /* '' */
.megatron-185095-settings-streamline:before { content: '\e8c0'; } /* '' */
.megatron-185096-settings-streamline:before { content: '\e8c1'; } /* '' */
.megatron-185097-database-streamline:before { content: '\e8c2'; } /* '' */
.megatron-185098-streamline-sync:before { content: '\e8c3'; } /* '' */
.megatron-185099-factory-lift-streamline-warehouse:before { content: '\e8c4'; } /* '' */
.megatron-185100-caddie-shop-shopping-streamline:before { content: '\e8c5'; } /* '' */
.megatron-185101-caddie-shopping-streamline:before { content: '\e8c6'; } /* '' */
.megatron-185102-receipt-shopping-streamline:before { content: '\e8c7'; } /* '' */
.megatron-185103-bag-shopping-streamline:before { content: '\e8c8'; } /* '' */
.megatron-185104-streamline-umbrella-weather:before { content: '\e8c9'; } /* '' */
.megatron-185105-drug-medecine-streamline-syringue:before { content: '\e8ca'; } /* '' */
.megatron-185106-armchair-chair-streamline:before { content: '\e8cb'; } /* '' */
.megatron-185107-backpack-streamline-trekking:before { content: '\e8cc'; } /* '' */
.megatron-185108-chaplin-hat-movie-streamline:before { content: '\e8cd'; } /* '' */
.megatron-185109-cocktail-mojito-streamline:before { content: '\e8ce'; } /* '' */
.megatron-185110-diving-leisure-sea-sport-streamline:before { content: '\e8cf'; } /* '' */
.megatron-185111-monocle-mustache-streamline:before { content: '\e8d0'; } /* '' */
.megatron-185112-barista-coffee-espresso-streamline:before { content: '\e8d1'; } /* '' */
.megatron-185113-coffee-streamline:before { content: '\e8d2'; } /* '' */
.megatron-185114-chef-food-restaurant-streamline:before { content: '\e8d3'; } /* '' */
.megatron-185115-barbecue-eat-food-streamline:before { content: '\e8d4'; } /* '' */
.megatron-185116-eat-food-hotdog-streamline:before { content: '\e8d5'; } /* '' */
.megatron-185117-food-ice-cream-streamline:before { content: '\e8d6'; } /* '' */
.megatron-185118-japan-streamline-tea:before { content: '\e8d7'; } /* '' */
.megatron-185119-eat-food-fork-knife-streamline:before { content: '\e8d8'; } /* '' */
.megatron-list23:before { content: '\e8d9'; } /* '' */
.megatron-wrong6:before { content: '\e8da'; } /* '' */
.megatron-list23-1:before { content: '\e8db'; } /* '' */
.megatron-menu27:before { content: '\e8dc'; } /* '' */
.megatron-menu45:before { content: '\e8dd'; } /* '' */
.megatron-menu53:before { content: '\e8de'; } /* '' */
.megatron-menu55:before { content: '\e8df'; } /* '' */
.megatron-play38:before { content: '\e8e0'; } /* '' */
.megatron-next15:before { content: '\e8e1'; } /* '' */
.megatron-previous11:before { content: '\e8e2'; } /* '' */
.megatron-wrong6-1:before { content: '\e8e3'; } /* '' */
.megatron-right106:before { content: '\e8e4'; } /* '' */
.megatron-thin35:before { content: '\e8e5'; } /* '' */
.megatron-up77:before { content: '\e8e6'; } /* '' */
.megatron-thin36:before { content: '\e8e7'; } /* '' */
.megatron-expand22:before { content: '\e8e8'; } /* '' */
.megatron-collapse3:before { content: '\e8e9'; } /* '' */
.megatron-wrong6-2:before { content: '\e8ea'; } /* '' */
.megatron-address:before { content: '\e8eb'; } /* '' */
.megatron-adjust:before { content: '\e8ec'; } /* '' */
.megatron-air:before { content: '\e8ed'; } /* '' */
.megatron-alert:before { content: '\e8ee'; } /* '' */
.megatron-archive:before { content: '\e8ef'; } /* '' */
.megatron-arrow-combo:before { content: '\e8f0'; } /* '' */
.megatron-arrows-ccw:before { content: '\e8f1'; } /* '' */
.megatron-attach:before { content: '\e8f2'; } /* '' */
.megatron-attention:before { content: '\e8f3'; } /* '' */
.megatron-back:before { content: '\e8f4'; } /* '' */
.megatron-back-in-time:before { content: '\e8f5'; } /* '' */
.megatron-bag:before { content: '\e8f6'; } /* '' */
.megatron-basket-1:before { content: '\e8f7'; } /* '' */
.megatron-battery:before { content: '\e8f8'; } /* '' */
.megatron-behance:before { content: '\e8f9'; } /* '' */
.megatron-bell:before { content: '\e8fa'; } /* '' */
.megatron-block:before { content: '\e8fb'; } /* '' */
.megatron-book:before { content: '\e8fc'; } /* '' */
.megatron-book-open-1:before { content: '\e8fd'; } /* '' */
.megatron-bookmark:before { content: '\e8fe'; } /* '' */
.megatron-bookmarks:before { content: '\e8ff'; } /* '' */
.megatron-box:before { content: '\e900'; } /* '' */
.megatron-briefcase-1:before { content: '\e901'; } /* '' */
.megatron-brush:before { content: '\e902'; } /* '' */
.megatron-bucket:before { content: '\e903'; } /* '' */
.megatron-calendar-1:before { content: '\e904'; } /* '' */
.megatron-camera-1:before { content: '\e905'; } /* '' */
.megatron-cancel:before { content: '\e906'; } /* '' */
.megatron-cancel-circled:before { content: '\e907'; } /* '' */
.megatron-cancel-squared:before { content: '\e908'; } /* '' */
.megatron-cc:before { content: '\e909'; } /* '' */
.megatron-cc-by:before { content: '\e90a'; } /* '' */
.megatron-cc-nc:before { content: '\e90b'; } /* '' */
.megatron-cc-nc-eu:before { content: '\e90c'; } /* '' */
.megatron-cc-nc-jp:before { content: '\e90d'; } /* '' */
.megatron-cc-nd:before { content: '\e90e'; } /* '' */
.megatron-cc-pd:before { content: '\e90f'; } /* '' */
.megatron-cc-remix:before { content: '\e910'; } /* '' */
.megatron-cc-sa:before { content: '\e911'; } /* '' */
.megatron-cc-share:before { content: '\e912'; } /* '' */
.megatron-cc-zero:before { content: '\e913'; } /* '' */
.megatron-ccw:before { content: '\e914'; } /* '' */
.megatron-cd:before { content: '\e915'; } /* '' */
.megatron-chart-area:before { content: '\e916'; } /* '' */
.megatron-chart-bar:before { content: '\e917'; } /* '' */
.megatron-chart-line:before { content: '\e918'; } /* '' */
.megatron-chart-pie:before { content: '\e919'; } /* '' */
.megatron-chat-1:before { content: '\e91a'; } /* '' */
.megatron-check:before { content: '\e91b'; } /* '' */
.megatron-clipboard-1:before { content: '\e91c'; } /* '' */
.megatron-clock-1:before { content: '\e91d'; } /* '' */
.megatron-cloud-1:before { content: '\e91e'; } /* '' */
.megatron-cloud-thunder:before { content: '\e91f'; } /* '' */
.megatron-code:before { content: '\e920'; } /* '' */
.megatron-cog:before { content: '\e921'; } /* '' */
.megatron-comment:before { content: '\e922'; } /* '' */
.megatron-compass-1:before { content: '\e923'; } /* '' */
.megatron-credit-card:before { content: '\e924'; } /* '' */
.megatron-cup:before { content: '\e925'; } /* '' */
.megatron-cw:before { content: '\e926'; } /* '' */
.megatron-database:before { content: '\e927'; } /* '' */
.megatron-db-shape:before { content: '\e928'; } /* '' */
.megatron-direction:before { content: '\e929'; } /* '' */
.megatron-doc:before { content: '\e92a'; } /* '' */
.megatron-doc-landscape:before { content: '\e92b'; } /* '' */
.megatron-doc-text:before { content: '\e92c'; } /* '' */
.megatron-doc-text-inv:before { content: '\e92d'; } /* '' */
.megatron-docs:before { content: '\e92e'; } /* '' */
.megatron-dot:before { content: '\e92f'; } /* '' */
.megatron-dot-2:before { content: '\e930'; } /* '' */
.megatron-dot-3:before { content: '\e931'; } /* '' */
.megatron-down:before { content: '\e932'; } /* '' */
.megatron-down-bold:before { content: '\e933'; } /* '' */
.megatron-down-circled:before { content: '\e934'; } /* '' */
.megatron-down-dir:before { content: '\e935'; } /* '' */
.megatron-down-open:before { content: '\e936'; } /* '' */
.megatron-down-open-big:before { content: '\e937'; } /* '' */
.megatron-down-open-mini:before { content: '\e938'; } /* '' */
.megatron-down-thin:before { content: '\e939'; } /* '' */
.megatron-download-1:before { content: '\e93a'; } /* '' */
.megatron-dribbble-1:before { content: '\e93b'; } /* '' */
.megatron-dribbble-circled:before { content: '\e93c'; } /* '' */
.megatron-drive:before { content: '\e93d'; } /* '' */
.megatron-dropbox:before { content: '\e93e'; } /* '' */
.megatron-droplet:before { content: '\e93f'; } /* '' */
.megatron-erase:before { content: '\e940'; } /* '' */
.megatron-evernote:before { content: '\e941'; } /* '' */
.megatron-export:before { content: '\e942'; } /* '' */
.megatron-eye:before { content: '\e943'; } /* '' */
.megatron-facebook-1:before { content: '\e944'; } /* '' */
.megatron-facebook-circled:before { content: '\e945'; } /* '' */
.megatron-facebook-squared:before { content: '\e946'; } /* '' */
.megatron-fast-backward:before { content: '\e947'; } /* '' */
.megatron-fast-forward:before { content: '\e948'; } /* '' */
.megatron-feather:before { content: '\e949'; } /* '' */
.megatron-flag-1:before { content: '\e94a'; } /* '' */
.megatron-flash:before { content: '\e94b'; } /* '' */
.megatron-flashlight:before { content: '\e94c'; } /* '' */
.megatron-flattr:before { content: '\e94d'; } /* '' */
.megatron-flickr:before { content: '\e94e'; } /* '' */
.megatron-flickr-circled:before { content: '\e94f'; } /* '' */
.megatron-flight:before { content: '\e950'; } /* '' */
.megatron-floppy:before { content: '\e951'; } /* '' */
.megatron-flow-branch:before { content: '\e952'; } /* '' */
.megatron-flow-cascade:before { content: '\e953'; } /* '' */
.megatron-flow-line:before { content: '\e954'; } /* '' */
.megatron-flow-parallel:before { content: '\e955'; } /* '' */
.megatron-flow-tree:before { content: '\e956'; } /* '' */
.megatron-folder:before { content: '\e957'; } /* '' */
.megatron-forward:before { content: '\e958'; } /* '' */
.megatron-gauge:before { content: '\e959'; } /* '' */
.megatron-github:before { content: '\e95a'; } /* '' */
.megatron-github-circled:before { content: '\e95b'; } /* '' */
.megatron-globe-1:before { content: '\e95c'; } /* '' */
.megatron-google-circles:before { content: '\e95d'; } /* '' */
.megatron-gplus:before { content: '\e95e'; } /* '' */
.megatron-gplus-circled:before { content: '\e95f'; } /* '' */
.megatron-graduation-cap:before { content: '\e960'; } /* '' */
.megatron-heart-1:before { content: '\e961'; } /* '' */
.megatron-heart-empty:before { content: '\e962'; } /* '' */
.megatron-help:before { content: '\e963'; } /* '' */
.megatron-help-circled:before { content: '\e964'; } /* '' */
.megatron-home:before { content: '\e965'; } /* '' */
.megatron-hourglass-1:before { content: '\e966'; } /* '' */
.megatron-inbox:before { content: '\e967'; } /* '' */
.megatron-infinity:before { content: '\e968'; } /* '' */
.megatron-info:before { content: '\e969'; } /* '' */
.megatron-info-circled:before { content: '\e96a'; } /* '' */
.megatron-instagrem:before { content: '\e96b'; } /* '' */
.megatron-install:before { content: '\e96c'; } /* '' */
.megatron-key-1:before { content: '\e96d'; } /* '' */
.megatron-keyboard:before { content: '\e96e'; } /* '' */
.megatron-lamp:before { content: '\e96f'; } /* '' */
.megatron-language:before { content: '\e970'; } /* '' */
.megatron-lastfm:before { content: '\e971'; } /* '' */
.megatron-lastfm-circled:before { content: '\e972'; } /* '' */
.megatron-layout:before { content: '\e973'; } /* '' */
.megatron-leaf:before { content: '\e974'; } /* '' */
.megatron-left:before { content: '\e975'; } /* '' */
.megatron-left-bold:before { content: '\e976'; } /* '' */
.megatron-left-circled:before { content: '\e977'; } /* '' */
.megatron-left-dir:before { content: '\e978'; } /* '' */
.megatron-left-open:before { content: '\e979'; } /* '' */
.megatron-left-open-big:before { content: '\e97a'; } /* '' */
.megatron-left-open-mini:before { content: '\e97b'; } /* '' */
.megatron-left-thin:before { content: '\e97c'; } /* '' */
.megatron-level-down:before { content: '\e97d'; } /* '' */
.megatron-level-up:before { content: '\e97e'; } /* '' */
.megatron-lifebuoy:before { content: '\e97f'; } /* '' */
.megatron-light-down:before { content: '\e980'; } /* '' */
.megatron-light-up:before { content: '\e981'; } /* '' */
.megatron-link:before { content: '\e982'; } /* '' */
.megatron-linkedin-1:before { content: '\e983'; } /* '' */
.megatron-linkedin-circled:before { content: '\e984'; } /* '' */
.megatron-list:before { content: '\e985'; } /* '' */
.megatron-list-add:before { content: '\e986'; } /* '' */
.megatron-location:before { content: '\e987'; } /* '' */
.megatron-lock-1:before { content: '\e988'; } /* '' */
.megatron-lock-open:before { content: '\e989'; } /* '' */
.megatron-login:before { content: '\e98a'; } /* '' */
.megatron-logo-db:before { content: '\e98b'; } /* '' */
.megatron-logout:before { content: '\e98c'; } /* '' */
.megatron-loop:before { content: '\e98d'; } /* '' */
.megatron-magnet:before { content: '\e98e'; } /* '' */
.megatron-mail:before { content: '\e98f'; } /* '' */
.megatron-map-1:before { content: '\e990'; } /* '' */
.megatron-megaphone-1:before { content: '\e991'; } /* '' */
.megatron-menu:before { content: '\e992'; } /* '' */
.megatron-mic-1:before { content: '\e993'; } /* '' */
.megatron-minus:before { content: '\e994'; } /* '' */
.megatron-minus-circled:before { content: '\e995'; } /* '' */
.megatron-minus-squared:before { content: '\e996'; } /* '' */
.megatron-mixi:before { content: '\e997'; } /* '' */
.megatron-mobile-1:before { content: '\e998'; } /* '' */
.megatron-monitor:before { content: '\e999'; } /* '' */
.megatron-moon:before { content: '\e99a'; } /* '' */
.megatron-mouse:before { content: '\e99b'; } /* '' */
.megatron-music:before { content: '\e99c'; } /* '' */
.megatron-mute:before { content: '\e99d'; } /* '' */
.megatron-network:before { content: '\e99e'; } /* '' */
.megatron-newspaper-1:before { content: '\e99f'; } /* '' */
.megatron-note:before { content: '\e9a0'; } /* '' */
.megatron-note-beamed:before { content: '\e9a1'; } /* '' */
.megatron-palette:before { content: '\e9a2'; } /* '' */
.megatron-paper-plane:before { content: '\e9a3'; } /* '' */
.megatron-pause:before { content: '\e9a4'; } /* '' */
.megatron-paypal:before { content: '\e9a5'; } /* '' */
.megatron-pencil-1:before { content: '\e9a6'; } /* '' */
.megatron-phone-1:before { content: '\e9a7'; } /* '' */
.megatron-picasa:before { content: '\e9a8'; } /* '' */
.megatron-picture-1:before { content: '\e9a9'; } /* '' */
.megatron-pinterest:before { content: '\e9aa'; } /* '' */
.megatron-pinterest-circled:before { content: '\e9ab'; } /* '' */
.megatron-play:before { content: '\e9ac'; } /* '' */
.megatron-plus:before { content: '\e9ad'; } /* '' */
.megatron-plus-circled:before { content: '\e9ae'; } /* '' */
.megatron-plus-squared:before { content: '\e9af'; } /* '' */
.megatron-popup:before { content: '\e9b0'; } /* '' */
.megatron-print:before { content: '\e9b1'; } /* '' */
.megatron-progress-0:before { content: '\e9b2'; } /* '' */
.megatron-progress-1:before { content: '\e9b3'; } /* '' */
.megatron-progress-2:before { content: '\e9b4'; } /* '' */
.megatron-progress-3:before { content: '\e9b5'; } /* '' */
.megatron-publish:before { content: '\e9b6'; } /* '' */
.megatron-qq:before { content: '\e9b7'; } /* '' */
.megatron-quote-1:before { content: '\e9b8'; } /* '' */
.megatron-rdio:before { content: '\e9b9'; } /* '' */
.megatron-rdio-circled:before { content: '\e9ba'; } /* '' */
.megatron-record:before { content: '\e9bb'; } /* '' */
.megatron-renren:before { content: '\e9bc'; } /* '' */
.megatron-reply:before { content: '\e9bd'; } /* '' */
.megatron-reply-all:before { content: '\e9be'; } /* '' */
.megatron-resize-full:before { content: '\e9bf'; } /* '' */
.megatron-resize-small:before { content: '\e9c0'; } /* '' */
.megatron-retweet:before { content: '\e9c1'; } /* '' */
.megatron-right:before { content: '\e9c2'; } /* '' */
.megatron-right-bold:before { content: '\e9c3'; } /* '' */
.megatron-right-circled:before { content: '\e9c4'; } /* '' */
.megatron-right-dir:before { content: '\e9c5'; } /* '' */
.megatron-right-open:before { content: '\e9c6'; } /* '' */
.megatron-right-open-big:before { content: '\e9c7'; } /* '' */
.megatron-right-open-mini:before { content: '\e9c8'; } /* '' */
.megatron-right-thin:before { content: '\e9c9'; } /* '' */
.megatron-rocket:before { content: '\e9ca'; } /* '' */
.megatron-rss-1:before { content: '\e9cb'; } /* '' */
.megatron-search-1:before { content: '\e9cc'; } /* '' */
.megatron-share:before { content: '\e9cd'; } /* '' */
.megatron-shareable:before { content: '\e9ce'; } /* '' */
.megatron-shuffle:before { content: '\e9cf'; } /* '' */
.megatron-signal:before { content: '\e9d0'; } /* '' */
.megatron-sina-weibo:before { content: '\e9d1'; } /* '' */
.megatron-skype:before { content: '\e9d2'; } /* '' */
.megatron-skype-circled:before { content: '\e9d3'; } /* '' */
.megatron-smashing:before { content: '\e9d4'; } /* '' */
.megatron-sound:before { content: '\e9d5'; } /* '' */
.megatron-soundcloud:before { content: '\e9d6'; } /* '' */
.megatron-spotify:before { content: '\e9d7'; } /* '' */
.megatron-spotify-circled:before { content: '\e9d8'; } /* '' */
.megatron-star:before { content: '\e9d9'; } /* '' */
.megatron-star-empty:before { content: '\e9da'; } /* '' */
.megatron-stop:before { content: '\e9db'; } /* '' */
.megatron-stumbleupon:before { content: '\e9dc'; } /* '' */
.megatron-stumbleupon-circled:before { content: '\e9dd'; } /* '' */
.megatron-suitcase:before { content: '\e9de'; } /* '' */
.megatron-sweden:before { content: '\e9df'; } /* '' */
.megatron-switch:before { content: '\e9e0'; } /* '' */
.megatron-tag:before { content: '\e9e1'; } /* '' */
.megatron-tape:before { content: '\e9e2'; } /* '' */
.megatron-target:before { content: '\e9e3'; } /* '' */
.megatron-thermometer:before { content: '\e9e4'; } /* '' */
.megatron-thumbs-down:before { content: '\e9e5'; } /* '' */
.megatron-thumbs-up:before { content: '\e9e6'; } /* '' */
.megatron-ticket:before { content: '\e9e7'; } /* '' */
.megatron-to-end:before { content: '\e9e8'; } /* '' */
.megatron-to-start:before { content: '\e9e9'; } /* '' */
.megatron-tools-1:before { content: '\e9ea'; } /* '' */
.megatron-traffic-cone:before { content: '\e9eb'; } /* '' */
.megatron-trash:before { content: '\e9ec'; } /* '' */
.megatron-trophy-1:before { content: '\e9ed'; } /* '' */
.megatron-tumblr-1:before { content: '\e9ee'; } /* '' */
.megatron-tumblr-circled:before { content: '\e9ef'; } /* '' */
.megatron-twitter-1:before { content: '\e9f0'; } /* '' */
.megatron-twitter-circled:before { content: '\e9f1'; } /* '' */
.megatron-up:before { content: '\e9f2'; } /* '' */
.megatron-up-bold:before { content: '\e9f3'; } /* '' */
.megatron-up-circled:before { content: '\e9f4'; } /* '' */
.megatron-up-dir:before { content: '\e9f5'; } /* '' */
.megatron-up-open:before { content: '\e9f6'; } /* '' */
.megatron-up-open-big:before { content: '\e9f7'; } /* '' */
.megatron-up-open-mini:before { content: '\e9f8'; } /* '' */
.megatron-up-thin:before { content: '\e9f9'; } /* '' */
.megatron-upload-1:before { content: '\e9fa'; } /* '' */
.megatron-upload-cloud:before { content: '\e9fb'; } /* '' */
.megatron-user:before { content: '\e9fc'; } /* '' */
.megatron-user-add:before { content: '\e9fd'; } /* '' */
.megatron-users:before { content: '\e9fe'; } /* '' */
.megatron-vcard:before { content: '\e9ff'; } /* '' */
.megatron-video-1:before { content: '\ea00'; } /* '' */
.megatron-vimeo:before { content: '\ea01'; } /* '' */
.megatron-vimeo-circled:before { content: '\ea02'; } /* '' */
.megatron-vkontakte:before { content: '\ea03'; } /* '' */
.megatron-volume:before { content: '\ea04'; } /* '' */
.megatron-water:before { content: '\ea05'; } /* '' */
.megatron-window:before { content: '\ea06'; } /* '' */
.megatron-downarrows10:before { content: '\ea07'; } /* '' */
.megatron-right127:before { content: '\ea08'; } /* '' */
.megatron-rightarrow59:before { content: '\ea09'; } /* '' */
.megatron-uparrows15:before { content: '\ea0a'; } /* '' */
.megatron-leftarrow59:before { content: '\ea0b'; } /* '' */
.megatron-back28:before { content: '\ea0c'; } /* '' */
.megatron-megatron-logo:before { content: '\ea0d'; } /* '' */
.megatron-warning45:before { content: '\ea0e'; } /* '' */
.megatron-shopping111:before { content: '\ea0f'; } /* '' */
.megatron-search-icon:before { content: '\ea10'; } /* '' */
.megatron-play43:before { content: '\ea11'; } /* '' */
.megatron-minus-1:before { content: '\ea12'; } /* '' */
.megatron-plus-1:before { content: '\ea13'; } /* '' */
.megatron-play43-1:before { content: '\ea14'; } /* '' */
.megatron-cancel30:before { content: '\ea15'; } /* '' */
.megatron-close47:before { content: '\ea16'; } /* '' */
.megatron-accepted:before { content: '\ea17'; } /* '' */
.megatron-email20:before { content: '\ea18'; } /* '' */
.megatron-key21:before { content: '\ea19'; } /* '' */
.megatron-lock63:before { content: '\ea1a'; } /* '' */
.megatron-password1:before { content: '\ea1b'; } /* '' */
.megatron-magnifying-glass34:before { content: '\ea1c'; } /* '' */
.megatron-mouse61-1:before { content: '\ea1d'; } /* '' */
.megatron-calentar:before { content: '\ea1e'; } /* '' */
.megatron-drug4:before { content: '\ea1f'; } /* '' */
.megatron-hospital36:before { content: '\ea20'; } /* '' */
.megatron-hostpital:before { content: '\ea21'; } /* '' */
.megatron-phone64:before { content: '\ea22'; } /* '' */
.megatron-shutterstock-166641992-converted:before { content: '\ea23'; } /* '' */
.megatron-shutterstock-166641992-converted-1:before { content: '\ea24'; } /* '' */
.megatron-shutterstock-166641992-converted-2:before { content: '\ea25'; } /* '' */
.megatron-shutterstock-166641992-converted-3:before { content: '\ea26'; } /* '' */
.megatron-shutterstock-166641992-converted-4:before { content: '\ea27'; } /* '' */
.megatron-shutterstock-166641992-converted-5:before { content: '\ea28'; } /* '' */
.megatron-shutterstock-166641992-converted-6:before { content: '\ea29'; } /* '' */
.megatron-shutterstock-166641992-converted-7:before { content: '\ea2a'; } /* '' */
.megatron-shutterstock-166641992-converted-8:before { content: '\ea2b'; } /* '' */
.megatron-shutterstock-166641992-converted-9:before { content: '\ea2c'; } /* '' */
.megatron-shutterstock-166641992-converted-10:before { content: '\ea2d'; } /* '' */
.megatron-shutterstock-166641992-converted-11:before { content: '\ea2e'; } /* '' */
.megatron-shutterstock-166641992-converted-12:before { content: '\ea2f'; } /* '' */
.megatron-shutterstock-166641992-converted-13:before { content: '\ea30'; } /* '' */
.megatron-shutterstock-166641992-converted-14:before { content: '\ea31'; } /* '' */
.megatron-shutterstock-166641992-converted-15:before { content: '\ea32'; } /* '' */
.megatron-shutterstock-166641992-converted-16:before { content: '\ea33'; } /* '' */
.megatron-shutterstock-166641992-converted-17:before { content: '\ea34'; } /* '' */
.megatron-shutterstock-166641992-converted-18:before { content: '\ea35'; } /* '' */
.megatron-shutterstock-166641992-converted-19:before { content: '\ea36'; } /* '' */
.megatron-shutterstock-166641992-converted-20:before { content: '\ea37'; } /* '' */
.megatron-shutterstock-166641992-converted-21:before { content: '\ea38'; } /* '' */
.megatron-shutterstock-166641992-converted-22:before { content: '\ea39'; } /* '' */
.megatron-shutterstock-166641992-converted-23:before { content: '\ea3a'; } /* '' */
.megatron-shutterstock-166641992-converted-24:before { content: '\ea3b'; } /* '' */
.megatron-shutterstock-166641992-converted-25:before { content: '\ea3c'; } /* '' */
.megatron-shutterstock-166641992-converted-26:before { content: '\ea3d'; } /* '' */
.megatron-shutterstock-166641992-converted-27:before { content: '\ea3e'; } /* '' */
.megatron-shutterstock-166641992-converted-28:before { content: '\ea3f'; } /* '' */
.megatron-shutterstock-166641992-converted-29:before { content: '\ea40'; } /* '' */
.megatron-shutterstock-166641992-converted-30:before { content: '\ea41'; } /* '' */
.megatron-shutterstock-166641992-converted-31:before { content: '\ea42'; } /* '' */
.megatron-shutterstock-166641992-converted-32:before { content: '\ea43'; } /* '' */
.megatron-shutterstock-166641992-converted-33:before { content: '\ea44'; } /* '' */
.megatron-shutterstock-166641992-converted-34:before { content: '\ea45'; } /* '' */
.megatron-shutterstock-166641992-converted-35:before { content: '\ea46'; } /* '' */
.megatron-shutterstock-166641992-converted-36:before { content: '\ea47'; } /* '' */
.megatron-shutterstock-166641992-converted-37:before { content: '\ea48'; } /* '' */
.megatron-shutterstock-166641992-converted-38:before { content: '\ea49'; } /* '' */
.megatron-shutterstock-166641992-converted-39:before { content: '\ea4a'; } /* '' */
.megatron-shutterstock-166641992-converted-40:before { content: '\ea4b'; } /* '' */
.megatron-shutterstock-166641992-converted-41:before { content: '\ea4c'; } /* '' */
.megatron-shutterstock-166641992-converted-42:before { content: '\ea4d'; } /* '' */
.megatron-shutterstock-166641992-converted-43:before { content: '\ea4e'; } /* '' */
.megatron-shutterstock-166641992-converted-44:before { content: '\ea4f'; } /* '' */
.megatron-shutterstock-166641992-converted-45:before { content: '\ea50'; } /* '' */
.megatron-shutterstock-166641992-converted-46:before { content: '\ea51'; } /* '' */
.megatron-shutterstock-166641992-converted-47:before { content: '\ea52'; } /* '' */
.megatron-shutterstock-166641992-converted-48:before { content: '\ea53'; } /* '' */
.megatron-shutterstock-166641992-converted-49:before { content: '\ea54'; } /* '' */
.megatron-shutterstock-166641992-converted-50:before { content: '\ea55'; } /* '' */
.megatron-shutterstock-166641992-converted-51:before { content: '\ea56'; } /* '' */
.megatron-shutterstock-166641992-converted-52:before { content: '\ea57'; } /* '' */
.megatron-shutterstock-166641992-converted-53:before { content: '\ea58'; } /* '' */
.megatron-shutterstock-166641992-converted-54:before { content: '\ea59'; } /* '' */
.megatron-shutterstock-166641992-converted-55:before { content: '\ea5a'; } /* '' */
.megatron-shutterstock-166641992-converted-56:before { content: '\ea5b'; } /* '' */
.megatron-shutterstock-166641992-converted-57:before { content: '\ea5c'; } /* '' */
.megatron-shutterstock-166641992-converted-58:before { content: '\ea5d'; } /* '' */
.megatron-shutterstock-166641992-converted-59:before { content: '\ea5e'; } /* '' */
.megatron-shutterstock-166641992-converted-60:before { content: '\ea5f'; } /* '' */