.md-objects .md-object.md-layer-9-25-0 {
z-index: 996 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-25-1 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-9-25-2{font-size: inherit; }
.md-objects .md-object.md-layer-9-25-2 a {
background: #00bfff;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-25-2 {z-index: 1000!important;}
.md-objects .md-object.md-layer-9-25-3{font-size: inherit; }
.md-objects .md-object.md-layer-9-25-3 a {
background: #00b863;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-25-3 {z-index: 999!important;}
.md-objects .md-object.md-layer-9-26-0 {
z-index: 996 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-26-1 {
z-index: 997 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-9-26-2 {
background: #00bfff;
 z-index: 998 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-26-3 {
background: #00b863;
 z-index: 999 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-26-4 {
z-index: 1000 !important;}
.md-objects .md-object.md-layer-9-27-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-9-27-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 2.3333333333333em;
 font-weight: 400;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-27-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.1666666666667em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-27-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-9-27-4 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-27-5 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-28-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-9-28-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 2.3333333333333em;
 font-weight: 400;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-28-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-28-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-9-28-4 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-9-28-5 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-9-28-6 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}