.md-objects .md-object.md-layer-23-73-0 {
z-index: 997 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-73-1 {
z-index: 996 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-73-2 {
z-index: 998 !important; color: #ffffff !important;
 text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-23-73-3{font-size: inherit; }
.md-objects .md-object.md-layer-23-73-3 a {
background: #00bfff;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-73-3 {z-index: 1000!important;}
.md-objects .md-object.md-layer-23-73-4{font-size: inherit; }
.md-objects .md-object.md-layer-23-73-4 a {
background: #00b863;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-73-4 {z-index: 999!important;}
.md-objects .md-object.md-layer-23-74-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-23-74-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-74-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-74-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-23-74-4 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-74-5 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-75-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-23-75-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-75-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-75-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-23-75-4 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-75-5 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-76-0 {
z-index: 2 !important;}
.md-objects .md-object.md-layer-23-76-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-76-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-23-76-3 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-23-76-4 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-23-76-5 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}