.md-objects .md-object.md-layer-15-46-0 {
z-index: 997 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-15-46-1 {
z-index: 996 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-15-46-2 {
z-index: 998 !important; color: #ffffff !important;
 text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-15-46-3{font-size: inherit; }
.md-objects .md-object.md-layer-15-46-3 a {
background: #00bfff;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-15-46-3 {z-index: 1000!important;}
.md-objects .md-object.md-layer-15-46-4{font-size: inherit; }
.md-objects .md-object.md-layer-15-46-4 a {
background: #00b863;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-15-46-4 {z-index: 999!important;}
.md-objects .md-object.md-layer-15-47-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-15-47-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-15-47-2 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-15-47-3 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-15-48-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-15-48-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-15-48-2 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-15-48-3 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-15-48-4 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}