
.mega-adjustments:before { content: '\e800'; } /* '' */
.mega-alarmclock:before { content: '\e801'; } /* '' */
.mega-anchor:before { content: '\e802'; } /* '' */
.mega-aperture:before { content: '\e803'; } /* '' */
.mega-attachments:before { content: '\e804'; } /* '' */
.mega-bargraph:before { content: '\e805'; } /* '' */
.mega-basket:before { content: '\e806'; } /* '' */
.mega-beaker:before { content: '\e807'; } /* '' */
.mega-bike:before { content: '\e808'; } /* '' */
.mega-book-open:before { content: '\e809'; } /* '' */
.mega-briefcase:before { content: '\e80a'; } /* '' */
.mega-browser:before { content: '\e80b'; } /* '' */
.mega-calendar:before { content: '\e80c'; } /* '' */
.mega-camera:before { content: '\e80d'; } /* '' */
.mega-caution:before { content: '\e80e'; } /* '' */
.mega-chat:before { content: '\e80f'; } /* '' */
.mega-circle-compass:before { content: '\e810'; } /* '' */
.mega-clipboard:before { content: '\e811'; } /* '' */
.mega-clock:before { content: '\e812'; } /* '' */
.mega-cloud:before { content: '\e813'; } /* '' */
.mega-compass:before { content: '\e814'; } /* '' */
.mega-desktop:before { content: '\e815'; } /* '' */
.mega-dial:before { content: '\e816'; } /* '' */
.mega-document:before { content: '\e817'; } /* '' */
.mega-documents:before { content: '\e818'; } /* '' */
.mega-download:before { content: '\e819'; } /* '' */
.mega-dribbble:before { content: '\e81a'; } /* '' */
.mega-edit:before { content: '\e81b'; } /* '' */
.mega-envelope:before { content: '\e81c'; } /* '' */
.mega-expand:before { content: '\e81d'; } /* '' */
.mega-facebook:before { content: '\e81e'; } /* '' */
.mega-flag:before { content: '\e81f'; } /* '' */
.mega-focus:before { content: '\e820'; } /* '' */
.mega-gears:before { content: '\e821'; } /* '' */
.mega-genius:before { content: '\e822'; } /* '' */
.mega-gift:before { content: '\e823'; } /* '' */
.mega-global:before { content: '\e824'; } /* '' */
.mega-globe:before { content: '\e825'; } /* '' */
.mega-googleplus:before { content: '\e826'; } /* '' */
.mega-grid:before { content: '\e827'; } /* '' */
.mega-happy:before { content: '\e828'; } /* '' */
.mega-hazardous:before { content: '\e829'; } /* '' */
.mega-heart:before { content: '\e82a'; } /* '' */
.mega-hotairballoon:before { content: '\e82b'; } /* '' */
.mega-hourglass:before { content: '\e82c'; } /* '' */
.mega-key:before { content: '\e82d'; } /* '' */
.mega-laptop:before { content: '\e82e'; } /* '' */
.mega-layers:before { content: '\e82f'; } /* '' */
.mega-lifesaver:before { content: '\e830'; } /* '' */
.mega-lightbulb:before { content: '\e831'; } /* '' */
.mega-linegraph:before { content: '\e832'; } /* '' */
.mega-linkedin:before { content: '\e833'; } /* '' */
.mega-lock:before { content: '\e834'; } /* '' */
.mega-magnifying-glass:before { content: '\e835'; } /* '' */
.mega-map:before { content: '\e836'; } /* '' */
.mega-map-pin:before { content: '\e837'; } /* '' */
.mega-megaphone:before { content: '\e838'; } /* '' */
.mega-mic:before { content: '\e839'; } /* '' */
.mega-mobile:before { content: '\e83a'; } /* '' */
.mega-newspaper:before { content: '\e83b'; } /* '' */
.mega-notebook:before { content: '\e83c'; } /* '' */
.mega-paintbrush:before { content: '\e83d'; } /* '' */
.mega-paperclip:before { content: '\e83e'; } /* '' */
.mega-pencil:before { content: '\e83f'; } /* '' */
.mega-phone:before { content: '\e840'; } /* '' */
.mega-picture:before { content: '\e841'; } /* '' */
.mega-pictures:before { content: '\e842'; } /* '' */
.mega-piechart:before { content: '\e843'; } /* '' */
.mega-presentation:before { content: '\e844'; } /* '' */
.mega-pricetags:before { content: '\e845'; } /* '' */
.mega-printer:before { content: '\e846'; } /* '' */
.mega-profile-female:before { content: '\e847'; } /* '' */
.mega-profile-male:before { content: '\e848'; } /* '' */
.mega-puzzle:before { content: '\e849'; } /* '' */
.mega-quote:before { content: '\e84a'; } /* '' */
.mega-recycle:before { content: '\e84b'; } /* '' */
.mega-refresh:before { content: '\e84c'; } /* '' */
.mega-ribbon:before { content: '\e84d'; } /* '' */
.mega-rss:before { content: '\e84e'; } /* '' */
.mega-sad:before { content: '\e84f'; } /* '' */
.mega-scissors:before { content: '\e850'; } /* '' */
.mega-scope:before { content: '\e851'; } /* '' */
.mega-search:before { content: '\e852'; } /* '' */
.mega-shield:before { content: '\e853'; } /* '' */
.mega-speedometer:before { content: '\e854'; } /* '' */
.mega-strategy:before { content: '\e855'; } /* '' */
.mega-streetsign:before { content: '\e856'; } /* '' */
.mega-tablet:before { content: '\e857'; } /* '' */
.mega-telescope:before { content: '\e858'; } /* '' */
.mega-toolbox:before { content: '\e859'; } /* '' */
.mega-tools:before { content: '\e85a'; } /* '' */
.mega-tools-2:before { content: '\e85b'; } /* '' */
.mega-traget:before { content: '\e85c'; } /* '' */
.mega-trophy:before { content: '\e85d'; } /* '' */
.mega-tumblr:before { content: '\e85e'; } /* '' */
.mega-twitter:before { content: '\e85f'; } /* '' */
.mega-upload:before { content: '\e860'; } /* '' */
.mega-video:before { content: '\e861'; } /* '' */
.mega-wallet:before { content: '\e862'; } /* '' */
.mega-wine:before { content: '\e863'; } /* '' */
.mega-svg-icon-12:before { content: '\e864'; } /* '' */
.mega-svg-icon-13:before { content: '\e865'; } /* '' */
.mega-svg-icon-14:before { content: '\e866'; } /* '' */
.mega-svg-icon-15:before { content: '\e867'; } /* '' */
.mega-svg-icon-16:before { content: '\e868'; } /* '' */
.mega-svg-icon-17:before { content: '\e869'; } /* '' */
.mega-svg-icon-02:before { content: '\e86a'; } /* '' */
.mega-svg-icon-03:before { content: '\e86b'; } /* '' */
.mega-svg-icon-04:before { content: '\e86c'; } /* '' */
.mega-svg-icon-05:before { content: '\e86d'; } /* '' */
.mega-svg-icon-06:before { content: '\e86e'; } /* '' */
.mega-svg-icon-07:before { content: '\e86f'; } /* '' */
.mega-svg-icon-08:before { content: '\e870'; } /* '' */
.mega-svg-icon-09:before { content: '\e871'; } /* '' */
.mega-svg-icon-10:before { content: '\e872'; } /* '' */
.mega-svg-icon-11:before { content: '\e873'; } /* '' */
.mega-cart-icon:before { content: '\e874'; } /* '' */
.mega-185020-macintosh:before { content: '\e875'; } /* '' */
.mega-185021-bomb-bug:before { content: '\e876'; } /* '' */
.mega-185022-computer-macintosh-vintage:before { content: '\e877'; } /* '' */
.mega-185023-computer-imac:before { content: '\e878'; } /* '' */
.mega-185024-computer-imac:before { content: '\e879'; } /* '' */
.mega-185025-ibook-laptop:before { content: '\e87a'; } /* '' */
.mega-185026-laptop-macbook-streamline:before { content: '\e87b'; } /* '' */
.mega-185027-computer-network-streamline:before { content: '\e87c'; } /* '' */
.mega-185028-iphone-streamline:before { content: '\e87d'; } /* '' */
.mega-185029-ipod-streamline:before { content: '\e87e'; } /* '' */
.mega-185030-cook-pan-pot-streamline:before { content: '\e87f'; } /* '' */
.mega-185031-shoes-snickers-streamline:before { content: '\e880'; } /* '' */
.mega-185032-ipad-streamline:before { content: '\e881'; } /* '' */
.mega-185033-ipod-music-streamline:before { content: '\e882'; } /* '' */
.mega-185034-ipod-mini-music-streamline:before { content: '\e883'; } /* '' */
.mega-185035-computer-streamline:before { content: '\e884'; } /* '' */
.mega-185036-remote-control-streamline:before { content: '\e885'; } /* '' */
.mega-185037-browser-streamline-window:before { content: '\e886'; } /* '' */
.mega-185038-home-house-streamline:before { content: '\e887'; } /* '' */
.mega-185039-earth-globe-streamline:before { content: '\e888'; } /* '' */
.mega-185040-map-pin-streamline:before { content: '\e889'; } /* '' */
.mega-185041-arrow-streamline-target:before { content: '\e88a'; } /* '' */
.mega-185042-edit-modify-streamline:before { content: '\e88b'; } /* '' */
.mega-185043-ink-pen-streamline:before { content: '\e88c'; } /* '' */
.mega-185044-pen-streamline:before { content: '\e88d'; } /* '' */
.mega-185045-pen-streamline:before { content: '\e88e'; } /* '' */
.mega-185046-design-graphic-tablet-streamline-tablet:before { content: '\e88f'; } /* '' */
.mega-185047-pen-streamline:before { content: '\e890'; } /* '' */
.mega-185048-pen-streamline:before { content: '\e891'; } /* '' */
.mega-185049-design-pencil-rule-streamline:before { content: '\e892'; } /* '' */
.mega-185050-eye-dropper-streamline:before { content: '\e893'; } /* '' */
.mega-185051-crop-streamline:before { content: '\e894'; } /* '' */
.mega-185052-paint-bucket-streamline:before { content: '\e895'; } /* '' */
.mega-185053-brush-paint-streamline:before { content: '\e896'; } /* '' */
.mega-185054-painting-roll-streamline:before { content: '\e897'; } /* '' */
.mega-185055-painting-pallet-streamline:before { content: '\e898'; } /* '' */
.mega-185056-stamp-streamline:before { content: '\e899'; } /* '' */
.mega-185057-magic-magic-wand-streamline:before { content: '\e89a'; } /* '' */
.mega-185058-grid-lines-streamline:before { content: '\e89b'; } /* '' */
.mega-185059-handle-streamline-vector:before { content: '\e89c'; } /* '' */
.mega-185060-magnet-streamline:before { content: '\e89d'; } /* '' */
.mega-185061-photo-pictures-streamline:before { content: '\e89e'; } /* '' */
.mega-185062-camera-photo-streamline:before { content: '\e89f'; } /* '' */
.mega-185063-camera-photo-polaroid-streamline:before { content: '\e8a0'; } /* '' */
.mega-185064-picture-streamline:before { content: '\e8a1'; } /* '' */
.mega-185065-frame-picture-streamline:before { content: '\e8a2'; } /* '' */
.mega-185066-picture-streamline:before { content: '\e8a3'; } /* '' */
.mega-185067-camera-streamline-video:before { content: '\e8a4'; } /* '' */
.mega-185068-music-note-streamline:before { content: '\e8a5'; } /* '' */
.mega-185069-headset-sound-streamline:before { content: '\e8a6'; } /* '' */
.mega-185070-micro-record-streamline:before { content: '\e8a7'; } /* '' */
.mega-185071-music-speaker-streamline:before { content: '\e8a8'; } /* '' */
.mega-185072-book-read-streamline:before { content: '\e8a9'; } /* '' */
.mega-185073-book-dowload-streamline:before { content: '\e8aa'; } /* '' */
.mega-185074-notebook-streamline:before { content: '\e8ab'; } /* '' */
.mega-185075-envellope-mail-streamline:before { content: '\e8ac'; } /* '' */
.mega-185076-streamline-suitcase-travel:before { content: '\e8ad'; } /* '' */
.mega-185077-first-aid-medecine-shield-streamline:before { content: '\e8ae'; } /* '' */
.mega-185078-email-mail-streamline:before { content: '\e8af'; } /* '' */
.mega-185079-bubble-comment-streamline-talk:before { content: '\e8b0'; } /* '' */
.mega-185080-bubble-love-streamline-talk:before { content: '\e8b1'; } /* '' */
.mega-185081-speech-streamline-talk-user:before { content: '\e8b2'; } /* '' */
.mega-185082-man-people-streamline-user:before { content: '\e8b3'; } /* '' */
.mega-185083-like-love-streamline:before { content: '\e8b4'; } /* '' */
.mega-185084-crown-king-streamline:before { content: '\e8b5'; } /* '' */
.mega-185085-happy-smiley-streamline:before { content: '\e8b6'; } /* '' */
.mega-185086-map-streamline-user:before { content: '\e8b7'; } /* '' */
.mega-185087-link-streamline:before { content: '\e8b8'; } /* '' */
.mega-185088-lock-locker-streamline:before { content: '\e8b9'; } /* '' */
.mega-185089-locker-streamline-unlock:before { content: '\e8ba'; } /* '' */
.mega-185090-delete-garbage-streamline:before { content: '\e8bb'; } /* '' */
.mega-185091-danger-death-delete-destroy-skull-streamline:before { content: '\e8bc'; } /* '' */
.mega-185092-clock-streamline-time:before { content: '\e8bd'; } /* '' */
.mega-185093-dashboard-speed-streamline:before { content: '\e8be'; } /* '' */
.mega-185094-settings-streamline:before { content: '\e8bf'; } /* '' */
.mega-185095-settings-streamline:before { content: '\e8c0'; } /* '' */
.mega-185096-settings-streamline:before { content: '\e8c1'; } /* '' */
.mega-185097-database-streamline:before { content: '\e8c2'; } /* '' */
.mega-185098-streamline-sync:before { content: '\e8c3'; } /* '' */
.mega-185099-factory-lift-streamline-warehouse:before { content: '\e8c4'; } /* '' */
.mega-185100-caddie-shop-shopping-streamline:before { content: '\e8c5'; } /* '' */
.mega-185101-caddie-shopping-streamline:before { content: '\e8c6'; } /* '' */
.mega-185102-receipt-shopping-streamline:before { content: '\e8c7'; } /* '' */
.mega-185103-bag-shopping-streamline:before { content: '\e8c8'; } /* '' */
.mega-185104-streamline-umbrella-weather:before { content: '\e8c9'; } /* '' */
.mega-185105-drug-medecine-streamline-syringue:before { content: '\e8ca'; } /* '' */
.mega-185106-armchair-chair-streamline:before { content: '\e8cb'; } /* '' */
.mega-185107-backpack-streamline-trekking:before { content: '\e8cc'; } /* '' */
.mega-185108-chaplin-hat-movie-streamline:before { content: '\e8cd'; } /* '' */
.mega-185109-cocktail-mojito-streamline:before { content: '\e8ce'; } /* '' */
.mega-185110-diving-leisure-sea-sport-streamline:before { content: '\e8cf'; } /* '' */
.mega-185111-monocle-mustache-streamline:before { content: '\e8d0'; } /* '' */
.mega-185112-barista-coffee-espresso-streamline:before { content: '\e8d1'; } /* '' */
.mega-185113-coffee-streamline:before { content: '\e8d2'; } /* '' */
.mega-185114-chef-food-restaurant-streamline:before { content: '\e8d3'; } /* '' */
.mega-185115-barbecue-eat-food-streamline:before { content: '\e8d4'; } /* '' */
.mega-185116-eat-food-hotdog-streamline:before { content: '\e8d5'; } /* '' */
.mega-185117-food-ice-cream-streamline:before { content: '\e8d6'; } /* '' */
.mega-185118-japan-streamline-tea:before { content: '\e8d7'; } /* '' */
.mega-185119-eat-food-fork-knife-streamline:before { content: '\e8d8'; } /* '' */
.mega-list23:before { content: '\e8d9'; } /* '' */
.mega-wrong6:before { content: '\e8da'; } /* '' */
.mega-list23-1:before { content: '\e8db'; } /* '' */
.mega-menu27:before { content: '\e8dc'; } /* '' */
.mega-menu45:before { content: '\e8dd'; } /* '' */
.mega-menu53:before { content: '\e8de'; } /* '' */
.mega-menu55:before { content: '\e8df'; } /* '' */
.mega-play38:before { content: '\e8e0'; } /* '' */
.mega-next15:before { content: '\e8e1'; } /* '' */
.mega-previous11:before { content: '\e8e2'; } /* '' */
.mega-wrong6-1:before { content: '\e8e3'; } /* '' */
.mega-right106:before { content: '\e8e4'; } /* '' */
.mega-thin35:before { content: '\e8e5'; } /* '' */
.mega-up77:before { content: '\e8e6'; } /* '' */
.mega-thin36:before { content: '\e8e7'; } /* '' */
.mega-expand22:before { content: '\e8e8'; } /* '' */
.mega-collapse3:before { content: '\e8e9'; } /* '' */
.mega-wrong6-2:before { content: '\e8ea'; } /* '' */
.mega-address:before { content: '\e8eb'; } /* '' */
.mega-adjust:before { content: '\e8ec'; } /* '' */
.mega-air:before { content: '\e8ed'; } /* '' */
.mega-alert:before { content: '\e8ee'; } /* '' */
.mega-archive:before { content: '\e8ef'; } /* '' */
.mega-arrow-combo:before { content: '\e8f0'; } /* '' */
.mega-arrows-ccw:before { content: '\e8f1'; } /* '' */
.mega-attach:before { content: '\e8f2'; } /* '' */
.mega-attention:before { content: '\e8f3'; } /* '' */
.mega-back:before { content: '\e8f4'; } /* '' */
.mega-back-in-time:before { content: '\e8f5'; } /* '' */
.mega-bag:before { content: '\e8f6'; } /* '' */
.mega-basket-1:before { content: '\e8f7'; } /* '' */
.mega-battery:before { content: '\e8f8'; } /* '' */
.mega-behance:before { content: '\e8f9'; } /* '' */
.mega-bell:before { content: '\e8fa'; } /* '' */
.mega-block:before { content: '\e8fb'; } /* '' */
.mega-book:before { content: '\e8fc'; } /* '' */
.mega-book-open-1:before { content: '\e8fd'; } /* '' */
.mega-bookmark:before { content: '\e8fe'; } /* '' */
.mega-bookmarks:before { content: '\e8ff'; } /* '' */
.mega-box:before { content: '\e900'; } /* '' */
.mega-briefcase-1:before { content: '\e901'; } /* '' */
.mega-brush:before { content: '\e902'; } /* '' */
.mega-bucket:before { content: '\e903'; } /* '' */
.mega-calendar-1:before { content: '\e904'; } /* '' */
.mega-camera-1:before { content: '\e905'; } /* '' */
.mega-cancel:before { content: '\e906'; } /* '' */
.mega-cancel-circled:before { content: '\e907'; } /* '' */
.mega-cancel-squared:before { content: '\e908'; } /* '' */
.mega-cc:before { content: '\e909'; } /* '' */
.mega-cc-by:before { content: '\e90a'; } /* '' */
.mega-cc-nc:before { content: '\e90b'; } /* '' */
.mega-cc-nc-eu:before { content: '\e90c'; } /* '' */
.mega-cc-nc-jp:before { content: '\e90d'; } /* '' */
.mega-cc-nd:before { content: '\e90e'; } /* '' */
.mega-cc-pd:before { content: '\e90f'; } /* '' */
.mega-cc-remix:before { content: '\e910'; } /* '' */
.mega-cc-sa:before { content: '\e911'; } /* '' */
.mega-cc-share:before { content: '\e912'; } /* '' */
.mega-cc-zero:before { content: '\e913'; } /* '' */
.mega-ccw:before { content: '\e914'; } /* '' */
.mega-cd:before { content: '\e915'; } /* '' */
.mega-chart-area:before { content: '\e916'; } /* '' */
.mega-chart-bar:before { content: '\e917'; } /* '' */
.mega-chart-line:before { content: '\e918'; } /* '' */
.mega-chart-pie:before { content: '\e919'; } /* '' */
.mega-chat-1:before { content: '\e91a'; } /* '' */
.mega-check:before { content: '\e91b'; } /* '' */
.mega-clipboard-1:before { content: '\e91c'; } /* '' */
.mega-clock-1:before { content: '\e91d'; } /* '' */
.mega-cloud-1:before { content: '\e91e'; } /* '' */
.mega-cloud-thunder:before { content: '\e91f'; } /* '' */
.mega-code:before { content: '\e920'; } /* '' */
.mega-cog:before { content: '\e921'; } /* '' */
.mega-comment:before { content: '\e922'; } /* '' */
.mega-compass-1:before { content: '\e923'; } /* '' */
.mega-credit-card:before { content: '\e924'; } /* '' */
.mega-cup:before { content: '\e925'; } /* '' */
.mega-cw:before { content: '\e926'; } /* '' */
.mega-database:before { content: '\e927'; } /* '' */
.mega-db-shape:before { content: '\e928'; } /* '' */
.mega-direction:before { content: '\e929'; } /* '' */
.mega-doc:before { content: '\e92a'; } /* '' */
.mega-doc-landscape:before { content: '\e92b'; } /* '' */
.mega-doc-text:before { content: '\e92c'; } /* '' */
.mega-doc-text-inv:before { content: '\e92d'; } /* '' */
.mega-docs:before { content: '\e92e'; } /* '' */
.mega-dot:before { content: '\e92f'; } /* '' */
.mega-dot-2:before { content: '\e930'; } /* '' */
.mega-dot-3:before { content: '\e931'; } /* '' */
.mega-down:before { content: '\e932'; } /* '' */
.mega-down-bold:before { content: '\e933'; } /* '' */
.mega-down-circled:before { content: '\e934'; } /* '' */
.mega-down-dir:before { content: '\e935'; } /* '' */
.mega-down-open:before { content: '\e936'; } /* '' */
.mega-down-open-big:before { content: '\e937'; } /* '' */
.mega-down-open-mini:before { content: '\e938'; } /* '' */
.mega-down-thin:before { content: '\e939'; } /* '' */
.mega-download-1:before { content: '\e93a'; } /* '' */
.mega-dribbble-1:before { content: '\e93b'; } /* '' */
.mega-dribbble-circled:before { content: '\e93c'; } /* '' */
.mega-drive:before { content: '\e93d'; } /* '' */
.mega-dropbox:before { content: '\e93e'; } /* '' */
.mega-droplet:before { content: '\e93f'; } /* '' */
.mega-erase:before { content: '\e940'; } /* '' */
.mega-evernote:before { content: '\e941'; } /* '' */
.mega-export:before { content: '\e942'; } /* '' */
.mega-eye:before { content: '\e943'; } /* '' */
.mega-facebook-1:before { content: '\e944'; } /* '' */
.mega-facebook-circled:before { content: '\e945'; } /* '' */
.mega-facebook-squared:before { content: '\e946'; } /* '' */
.mega-fast-backward:before { content: '\e947'; } /* '' */
.mega-fast-forward:before { content: '\e948'; } /* '' */
.mega-feather:before { content: '\e949'; } /* '' */
.mega-flag-1:before { content: '\e94a'; } /* '' */
.mega-flash:before { content: '\e94b'; } /* '' */
.mega-flashlight:before { content: '\e94c'; } /* '' */
.mega-flattr:before { content: '\e94d'; } /* '' */
.mega-flickr:before { content: '\e94e'; } /* '' */
.mega-flickr-circled:before { content: '\e94f'; } /* '' */
.mega-flight:before { content: '\e950'; } /* '' */
.mega-floppy:before { content: '\e951'; } /* '' */
.mega-flow-branch:before { content: '\e952'; } /* '' */
.mega-flow-cascade:before { content: '\e953'; } /* '' */
.mega-flow-line:before { content: '\e954'; } /* '' */
.mega-flow-parallel:before { content: '\e955'; } /* '' */
.mega-flow-tree:before { content: '\e956'; } /* '' */
.mega-folder:before { content: '\e957'; } /* '' */
.mega-forward:before { content: '\e958'; } /* '' */
.mega-gauge:before { content: '\e959'; } /* '' */
.mega-github:before { content: '\e95a'; } /* '' */
.mega-github-circled:before { content: '\e95b'; } /* '' */
.mega-globe-1:before { content: '\e95c'; } /* '' */
.mega-google-circles:before { content: '\e95d'; } /* '' */
.mega-gplus:before { content: '\e95e'; } /* '' */
.mega-gplus-circled:before { content: '\e95f'; } /* '' */
.mega-graduation-cap:before { content: '\e960'; } /* '' */
.mega-heart-1:before { content: '\e961'; } /* '' */
.mega-heart-empty:before { content: '\e962'; } /* '' */
.mega-help:before { content: '\e963'; } /* '' */
.mega-help-circled:before { content: '\e964'; } /* '' */
.mega-home:before { content: '\e965'; } /* '' */
.mega-hourglass-1:before { content: '\e966'; } /* '' */
.mega-inbox:before { content: '\e967'; } /* '' */
.mega-infinity:before { content: '\e968'; } /* '' */
.mega-info:before { content: '\e969'; } /* '' */
.mega-info-circled:before { content: '\e96a'; } /* '' */
.mega-instagrem:before { content: '\e96b'; } /* '' */
.mega-install:before { content: '\e96c'; } /* '' */
.mega-key-1:before { content: '\e96d'; } /* '' */
.mega-keyboard:before { content: '\e96e'; } /* '' */
.mega-lamp:before { content: '\e96f'; } /* '' */
.mega-language:before { content: '\e970'; } /* '' */
.mega-lastfm:before { content: '\e971'; } /* '' */
.mega-lastfm-circled:before { content: '\e972'; } /* '' */
.mega-layout:before { content: '\e973'; } /* '' */
.mega-leaf:before { content: '\e974'; } /* '' */
.mega-left:before { content: '\e975'; } /* '' */
.mega-left-bold:before { content: '\e976'; } /* '' */
.mega-left-circled:before { content: '\e977'; } /* '' */
.mega-left-dir:before { content: '\e978'; } /* '' */
.mega-left-open:before { content: '\e979'; } /* '' */
.mega-left-open-big:before { content: '\e97a'; } /* '' */
.mega-left-open-mini:before { content: '\e97b'; } /* '' */
.mega-left-thin:before { content: '\e97c'; } /* '' */
.mega-level-down:before { content: '\e97d'; } /* '' */
.mega-level-up:before { content: '\e97e'; } /* '' */
.mega-lifebuoy:before { content: '\e97f'; } /* '' */
.mega-light-down:before { content: '\e980'; } /* '' */
.mega-light-up:before { content: '\e981'; } /* '' */
.mega-link:before { content: '\e982'; } /* '' */
.mega-linkedin-1:before { content: '\e983'; } /* '' */
.mega-linkedin-circled:before { content: '\e984'; } /* '' */
.mega-list:before { content: '\e985'; } /* '' */
.mega-list-add:before { content: '\e986'; } /* '' */
.mega-location:before { content: '\e987'; } /* '' */
.mega-lock-1:before { content: '\e988'; } /* '' */
.mega-lock-open:before { content: '\e989'; } /* '' */
.mega-login:before { content: '\e98a'; } /* '' */
.mega-logo-db:before { content: '\e98b'; } /* '' */
.mega-logout:before { content: '\e98c'; } /* '' */
.mega-loop:before { content: '\e98d'; } /* '' */
.mega-magnet:before { content: '\e98e'; } /* '' */
.mega-mail:before { content: '\e98f'; } /* '' */
.mega-map-1:before { content: '\e990'; } /* '' */
.mega-megaphone-1:before { content: '\e991'; } /* '' */
.mega-menu:before { content: '\e992'; } /* '' */
.mega-mic-1:before { content: '\e993'; } /* '' */
.mega-minus:before { content: '\e994'; } /* '' */
.mega-minus-circled:before { content: '\e995'; } /* '' */
.mega-minus-squared:before { content: '\e996'; } /* '' */
.mega-mixi:before { content: '\e997'; } /* '' */
.mega-mobile-1:before { content: '\e998'; } /* '' */
.mega-monitor:before { content: '\e999'; } /* '' */
.mega-moon:before { content: '\e99a'; } /* '' */
.mega-mouse:before { content: '\e99b'; } /* '' */
.mega-music:before { content: '\e99c'; } /* '' */
.mega-mute:before { content: '\e99d'; } /* '' */
.mega-network:before { content: '\e99e'; } /* '' */
.mega-newspaper-1:before { content: '\e99f'; } /* '' */
.mega-note:before { content: '\e9a0'; } /* '' */
.mega-note-beamed:before { content: '\e9a1'; } /* '' */
.mega-palette:before { content: '\e9a2'; } /* '' */
.mega-paper-plane:before { content: '\e9a3'; } /* '' */
.mega-pause:before { content: '\e9a4'; } /* '' */
.mega-paypal:before { content: '\e9a5'; } /* '' */
.mega-pencil-1:before { content: '\e9a6'; } /* '' */
.mega-phone-1:before { content: '\e9a7'; } /* '' */
.mega-picasa:before { content: '\e9a8'; } /* '' */
.mega-picture-1:before { content: '\e9a9'; } /* '' */
.mega-pinterest:before { content: '\e9aa'; } /* '' */
.mega-pinterest-circled:before { content: '\e9ab'; } /* '' */
.mega-play:before { content: '\e9ac'; } /* '' */
.mega-plus:before { content: '\e9ad'; } /* '' */
.mega-plus-circled:before { content: '\e9ae'; } /* '' */
.mega-plus-squared:before { content: '\e9af'; } /* '' */
.mega-popup:before { content: '\e9b0'; } /* '' */
.mega-print:before { content: '\e9b1'; } /* '' */
.mega-progress-0:before { content: '\e9b2'; } /* '' */
.mega-progress-1:before { content: '\e9b3'; } /* '' */
.mega-progress-2:before { content: '\e9b4'; } /* '' */
.mega-progress-3:before { content: '\e9b5'; } /* '' */
.mega-publish:before { content: '\e9b6'; } /* '' */
.mega-qq:before { content: '\e9b7'; } /* '' */
.mega-quote-1:before { content: '\e9b8'; } /* '' */
.mega-rdio:before { content: '\e9b9'; } /* '' */
.mega-rdio-circled:before { content: '\e9ba'; } /* '' */
.mega-record:before { content: '\e9bb'; } /* '' */
.mega-renren:before { content: '\e9bc'; } /* '' */
.mega-reply:before { content: '\e9bd'; } /* '' */
.mega-reply-all:before { content: '\e9be'; } /* '' */
.mega-resize-full:before { content: '\e9bf'; } /* '' */
.mega-resize-small:before { content: '\e9c0'; } /* '' */
.mega-retweet:before { content: '\e9c1'; } /* '' */
.mega-right:before { content: '\e9c2'; } /* '' */
.mega-right-bold:before { content: '\e9c3'; } /* '' */
.mega-right-circled:before { content: '\e9c4'; } /* '' */
.mega-right-dir:before { content: '\e9c5'; } /* '' */
.mega-right-open:before { content: '\e9c6'; } /* '' */
.mega-right-open-big:before { content: '\e9c7'; } /* '' */
.mega-right-open-mini:before { content: '\e9c8'; } /* '' */
.mega-right-thin:before { content: '\e9c9'; } /* '' */
.mega-rocket:before { content: '\e9ca'; } /* '' */
.mega-rss-1:before { content: '\e9cb'; } /* '' */
.mega-search-1:before { content: '\e9cc'; } /* '' */
.mega-share:before { content: '\e9cd'; } /* '' */
.mega-shareable:before { content: '\e9ce'; } /* '' */
.mega-shuffle:before { content: '\e9cf'; } /* '' */
.mega-signal:before { content: '\e9d0'; } /* '' */
.mega-sina-weibo:before { content: '\e9d1'; } /* '' */
.mega-skype:before { content: '\e9d2'; } /* '' */
.mega-skype-circled:before { content: '\e9d3'; } /* '' */
.mega-smashing:before { content: '\e9d4'; } /* '' */
.mega-sound:before { content: '\e9d5'; } /* '' */
.mega-soundcloud:before { content: '\e9d6'; } /* '' */
.mega-spotify:before { content: '\e9d7'; } /* '' */
.mega-spotify-circled:before { content: '\e9d8'; } /* '' */
.mega-star:before { content: '\e9d9'; } /* '' */
.mega-star-empty:before { content: '\e9da'; } /* '' */
.mega-stop:before { content: '\e9db'; } /* '' */
.mega-stumbleupon:before { content: '\e9dc'; } /* '' */
.mega-stumbleupon-circled:before { content: '\e9dd'; } /* '' */
.mega-suitcase:before { content: '\e9de'; } /* '' */
.mega-sweden:before { content: '\e9df'; } /* '' */
.mega-switch:before { content: '\e9e0'; } /* '' */
.mega-tag:before { content: '\e9e1'; } /* '' */
.mega-tape:before { content: '\e9e2'; } /* '' */
.mega-target:before { content: '\e9e3'; } /* '' */
.mega-thermometer:before { content: '\e9e4'; } /* '' */
.mega-thumbs-down:before { content: '\e9e5'; } /* '' */
.mega-thumbs-up:before { content: '\e9e6'; } /* '' */
.mega-ticket:before { content: '\e9e7'; } /* '' */
.mega-to-end:before { content: '\e9e8'; } /* '' */
.mega-to-start:before { content: '\e9e9'; } /* '' */
.mega-tools-1:before { content: '\e9ea'; } /* '' */
.mega-traffic-cone:before { content: '\e9eb'; } /* '' */
.mega-trash:before { content: '\e9ec'; } /* '' */
.mega-trophy-1:before { content: '\e9ed'; } /* '' */
.mega-tumblr-1:before { content: '\e9ee'; } /* '' */
.mega-tumblr-circled:before { content: '\e9ef'; } /* '' */
.mega-twitter-1:before { content: '\e9f0'; } /* '' */
.mega-twitter-circled:before { content: '\e9f1'; } /* '' */
.mega-up:before { content: '\e9f2'; } /* '' */
.mega-up-bold:before { content: '\e9f3'; } /* '' */
.mega-up-circled:before { content: '\e9f4'; } /* '' */
.mega-up-dir:before { content: '\e9f5'; } /* '' */
.mega-up-open:before { content: '\e9f6'; } /* '' */
.mega-up-open-big:before { content: '\e9f7'; } /* '' */
.mega-up-open-mini:before { content: '\e9f8'; } /* '' */
.mega-up-thin:before { content: '\e9f9'; } /* '' */
.mega-upload-1:before { content: '\e9fa'; } /* '' */
.mega-upload-cloud:before { content: '\e9fb'; } /* '' */
.mega-user:before { content: '\e9fc'; } /* '' */
.mega-user-add:before { content: '\e9fd'; } /* '' */
.mega-users:before { content: '\e9fe'; } /* '' */
.mega-vcard:before { content: '\e9ff'; } /* '' */
.mega-video-1:before { content: '\ea00'; } /* '' */
.mega-vimeo:before { content: '\ea01'; } /* '' */
.mega-vimeo-circled:before { content: '\ea02'; } /* '' */
.mega-vkontakte:before { content: '\ea03'; } /* '' */
.mega-volume:before { content: '\ea04'; } /* '' */
.mega-water:before { content: '\ea05'; } /* '' */
.mega-window:before { content: '\ea06'; } /* '' */
.mega-downarrows10:before { content: '\ea07'; } /* '' */
.mega-right127:before { content: '\ea08'; } /* '' */
.mega-rightarrow59:before { content: '\ea09'; } /* '' */
.mega-uparrows15:before { content: '\ea0a'; } /* '' */
.mega-leftarrow59:before { content: '\ea0b'; } /* '' */
.mega-back28:before { content: '\ea0c'; } /* '' */
.mega-megatron-logo:before { content: '\ea0d'; } /* '' */
.mega-warning45:before { content: '\ea0e'; } /* '' */
.mega-shopping111:before { content: '\ea0f'; } /* '' */
.mega-search-icon:before { content: '\ea10'; } /* '' */
.mega-play43:before { content: '\ea11'; } /* '' */
.mega-minus-1:before { content: '\ea12'; } /* '' */
.mega-plus-1:before { content: '\ea13'; } /* '' */
.mega-play43-1:before { content: '\ea14'; } /* '' */
.mega-cancel30:before { content: '\ea15'; } /* '' */
.mega-close47:before { content: '\ea16'; } /* '' */
.mega-accepted:before { content: '\ea17'; } /* '' */
.mega-email20:before { content: '\ea18'; } /* '' */
.mega-key21:before { content: '\ea19'; } /* '' */
.mega-lock63:before { content: '\ea1a'; } /* '' */
.mega-password1:before { content: '\ea1b'; } /* '' */
.mega-magnifying-glass34:before { content: '\ea1c'; } /* '' */
.mega-mouse61-1:before { content: '\ea1d'; } /* '' */
.mega-calentar:before { content: '\ea1e'; } /* '' */
.mega-drug4:before { content: '\ea1f'; } /* '' */
.mega-hospital36:before { content: '\ea20'; } /* '' */
.mega-hostpital:before { content: '\ea21'; } /* '' */
.mega-phone64:before { content: '\ea22'; } /* '' */
.mega-shutterstock-166641992-converted:before { content: '\ea23'; } /* '' */
.mega-shutterstock-166641992-converted-1:before { content: '\ea24'; } /* '' */
.mega-shutterstock-166641992-converted-2:before { content: '\ea25'; } /* '' */
.mega-shutterstock-166641992-converted-3:before { content: '\ea26'; } /* '' */
.mega-shutterstock-166641992-converted-4:before { content: '\ea27'; } /* '' */
.mega-shutterstock-166641992-converted-5:before { content: '\ea28'; } /* '' */
.mega-shutterstock-166641992-converted-6:before { content: '\ea29'; } /* '' */
.mega-shutterstock-166641992-converted-7:before { content: '\ea2a'; } /* '' */
.mega-shutterstock-166641992-converted-8:before { content: '\ea2b'; } /* '' */
.mega-shutterstock-166641992-converted-9:before { content: '\ea2c'; } /* '' */
.mega-shutterstock-166641992-converted-10:before { content: '\ea2d'; } /* '' */
.mega-shutterstock-166641992-converted-11:before { content: '\ea2e'; } /* '' */
.mega-shutterstock-166641992-converted-12:before { content: '\ea2f'; } /* '' */
.mega-shutterstock-166641992-converted-13:before { content: '\ea30'; } /* '' */
.mega-shutterstock-166641992-converted-14:before { content: '\ea31'; } /* '' */
.mega-shutterstock-166641992-converted-15:before { content: '\ea32'; } /* '' */
.mega-shutterstock-166641992-converted-16:before { content: '\ea33'; } /* '' */
.mega-shutterstock-166641992-converted-17:before { content: '\ea34'; } /* '' */
.mega-shutterstock-166641992-converted-18:before { content: '\ea35'; } /* '' */
.mega-shutterstock-166641992-converted-19:before { content: '\ea36'; } /* '' */
.mega-shutterstock-166641992-converted-20:before { content: '\ea37'; } /* '' */
.mega-shutterstock-166641992-converted-21:before { content: '\ea38'; } /* '' */
.mega-shutterstock-166641992-converted-22:before { content: '\ea39'; } /* '' */
.mega-shutterstock-166641992-converted-23:before { content: '\ea3a'; } /* '' */
.mega-shutterstock-166641992-converted-24:before { content: '\ea3b'; } /* '' */
.mega-shutterstock-166641992-converted-25:before { content: '\ea3c'; } /* '' */
.mega-shutterstock-166641992-converted-26:before { content: '\ea3d'; } /* '' */
.mega-shutterstock-166641992-converted-27:before { content: '\ea3e'; } /* '' */
.mega-shutterstock-166641992-converted-28:before { content: '\ea3f'; } /* '' */
.mega-shutterstock-166641992-converted-29:before { content: '\ea40'; } /* '' */
.mega-shutterstock-166641992-converted-30:before { content: '\ea41'; } /* '' */
.mega-shutterstock-166641992-converted-31:before { content: '\ea42'; } /* '' */
.mega-shutterstock-166641992-converted-32:before { content: '\ea43'; } /* '' */
.mega-shutterstock-166641992-converted-33:before { content: '\ea44'; } /* '' */
.mega-shutterstock-166641992-converted-34:before { content: '\ea45'; } /* '' */
.mega-shutterstock-166641992-converted-35:before { content: '\ea46'; } /* '' */
.mega-shutterstock-166641992-converted-36:before { content: '\ea47'; } /* '' */
.mega-shutterstock-166641992-converted-37:before { content: '\ea48'; } /* '' */
.mega-shutterstock-166641992-converted-38:before { content: '\ea49'; } /* '' */
.mega-shutterstock-166641992-converted-39:before { content: '\ea4a'; } /* '' */
.mega-shutterstock-166641992-converted-40:before { content: '\ea4b'; } /* '' */
.mega-shutterstock-166641992-converted-41:before { content: '\ea4c'; } /* '' */
.mega-shutterstock-166641992-converted-42:before { content: '\ea4d'; } /* '' */
.mega-shutterstock-166641992-converted-43:before { content: '\ea4e'; } /* '' */
.mega-shutterstock-166641992-converted-44:before { content: '\ea4f'; } /* '' */
.mega-shutterstock-166641992-converted-45:before { content: '\ea50'; } /* '' */
.mega-shutterstock-166641992-converted-46:before { content: '\ea51'; } /* '' */
.mega-shutterstock-166641992-converted-47:before { content: '\ea52'; } /* '' */
.mega-shutterstock-166641992-converted-48:before { content: '\ea53'; } /* '' */
.mega-shutterstock-166641992-converted-49:before { content: '\ea54'; } /* '' */
.mega-shutterstock-166641992-converted-50:before { content: '\ea55'; } /* '' */
.mega-shutterstock-166641992-converted-51:before { content: '\ea56'; } /* '' */
.mega-shutterstock-166641992-converted-52:before { content: '\ea57'; } /* '' */
.mega-shutterstock-166641992-converted-53:before { content: '\ea58'; } /* '' */
.mega-shutterstock-166641992-converted-54:before { content: '\ea59'; } /* '' */
.mega-shutterstock-166641992-converted-55:before { content: '\ea5a'; } /* '' */
.mega-shutterstock-166641992-converted-56:before { content: '\ea5b'; } /* '' */
.mega-shutterstock-166641992-converted-57:before { content: '\ea5c'; } /* '' */
.mega-shutterstock-166641992-converted-58:before { content: '\ea5d'; } /* '' */
.mega-shutterstock-166641992-converted-59:before { content: '\ea5e'; } /* '' */
.mega-shutterstock-166641992-converted-60:before { content: '\ea5f'; } /* '' */