.md-objects .md-object.md-layer-22-68-0 {
z-index: 997 !important; color: #ffffff !important;
 text-align: right;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-22-68-1 {
z-index: 996 !important; color: #ffffff !important;
 text-align: right;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-22-68-2 {
z-index: 998 !important; color: #ffffff !important;
 text-align: right;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-22-68-3{font-size: inherit; }
.md-objects .md-object.md-layer-22-68-3 a {
background: #00bfff;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-68-3 {z-index: 1000!important;}
.md-objects .md-object.md-layer-22-68-4{font-size: inherit; }
.md-objects .md-object.md-layer-22-68-4 a {
background: #00b863;
 padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-68-4 {z-index: 999!important;}
.md-objects .md-object.md-layer-22-71-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: right;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-22-71-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: right;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-22-71-2 {
background: #00bfff;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-71-3 {
background: #00b863;
 z-index: 2 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-72-0 {
z-index: 996 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}
.md-objects .md-object.md-layer-22-72-1 {
z-index: 998 !important; color: #ffffff !important;
 text-align: left;
 font-size: 1.6666666666667em;
 font-weight: 400;
 font-style: italic;
 font-family: "Playfair Display";
}
.md-objects .md-object.md-layer-22-72-2 {
background: #00bfff;
 z-index: 999 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-72-3 {
background: #00b863;
 z-index: 1000 !important; padding-top: 15px;
 padding-bottom: 15px;
 color: #ffffff !important;
 text-align: center;
 font-size: 1.0833333333333em;
 font-weight: 400;
 font-family: "Montserrat";
}
.md-objects .md-object.md-layer-22-72-4 {
z-index: 997 !important; color: #ffffff !important;
 text-align: left;
 font-size: 6.25em;
 font-weight: 700;
 font-family: "Montserrat";
 text-transform: uppercase;
}