{#
/**
 * @file md-icon.html.twig
 * Default theme implementation to present an icon.
 *
 * @see template_preprocess_md_icon()
 *
 * @ingroup themeable
 */
#}
<div class="nav-content-wrapper">
	<div class="pull-left">
		<nav class="os-menu main-menu">
            {{ menu }}
        </nav>
    </div>
    <div class="pull-right">
    	<div class="nav-function nav-item">
    	<div class="__search">
    		<a data-toggle="modal" data-target="#modal-box" class="icon-search-icon"></a>
    	</div>
    	<div class="__offcanvas-button"><a href="#" class="offcanvas-nav-toggle icon-menu27"></a></div>
      </div>
    </div>
</div>